<a href="https://colab.research.google.com/github/shalni6/PAT_assignment/blob/main/assignment_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/imdb.csv")

In [ ]:
df.head()

**PREPARING THE DATA**

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
del df['id']
del df['certificate']
del df['directors_id']
del df['directors_name']
del df['stars_id']
del df['stars_name']
del df['description']

In [ ]:
df.head()

**QUESTION 1: HOW MANY UNIQUE GENRES ARE THERE IN THE DATASET**

In [ ]:
unique_genres = []
genre_ = []

for i in df['genre']:
  u = i.split(',')
  genre_ = genre_ + u  
                                                                                  # ANOTHER WAY OF DOING THE SAME THING IS REPLACING THE NEXT 3 LINES WITH THE CODE WHICH IS COMMENTED
  for j in genre_:                                                                                                                
    if j not in unique_genres:                                                    # x = np.array(genre_)
      unique_genres.append(j)                                                     # unique_genres = np.unique(x)

x = pd.DataFrame(unique_genres, columns = ['Genre'])
x

**QUESTION 2: WHICH IS THE MOST VOTED MOVIE FOR EACH GENRE**

**QUESTION 3: WHICH GENRE HAS THE MOST NUMBER OF MOVIES IN THE DATASET**

In [ ]:
x.sort_values(by = 'Number of Movies' , ascending = False)['Genre'].values
y = pd.DataFrame(x, columns = ['Genre','Number of Movies'])
y

In [ ]:
movies_ = []

for k in unique_genres:
 c = 0 

 for i in df['genre']:
  u = i.split(',')

  for j in u:
     if j == k:
      c = c + 1

 movies_.append([k,c])

def second_sort(v):
  return v[1]


movies_.sort(key=second_sort , reverse=True)
movies_[0]

**QUESTION 4: WHAT IS THE DISTRIBUTION OF NUMBER OF MOVIES IN EACH GENRE**

In [ ]:
k = x.sort_values(by = 'Number of Movies', ascending = False)['Genre'].values
j = x.sort_values(by = 'Number of Movies', ascending = False)['Number of Movies'].values

fig, plot = plt.subplots(figsize = (60,25))

plot.bar(k,j)

plt.xlabel('Genre')
plt.ylabel('No of Movies')
plt.title('Movies in Each Genre')

plt.show()

**QUESTION 5: WHICH ARE THE TOP 10 MOVIES WITH MAXIMUM GROSS INCOME**

In [ ]:
df.sort_values(by = 'gross_income', ascending = False).head(10)

**QUESTION 6: WHAT IS THE AVERAGE DURATION OF MOVIES IN EACH GENRE (in ascending order)**

In [ ]:
min = []

for n in df['duration']:
  u = n.split(' ')[0]                                                 # TO REMOVE 'min' FROM THE COLUMN 'duration'
  min.append(u)
  
df['duration'] = min

duration = []

for k in unique_genres:
 d = 0 
 count = 0
 m = -1

 for i in df['genre']:
  m = m + 1
  u = i.split(',')

  for j in u:
     if j == k:
      d = d + df['duration'].iloc[m]
      count = count + 1
     ave = d/count

 duration.append([k,ave])

y = pd.DataFrame(duration, columns = ['Genre','Average Duration'])
y

**QUESTION 7: FIND THE AVERAGE GROSS INCOME IN EACH GENRE**

In [ ]:
av_gross_income = []

for k in unique_genres:
 d = 0 
 count = 0
 m = -1

 for i in df['genre']:
  m = m + 1
  u = i.split(',')

  for j in u:
     if j == k:
      d = d + df['gross_income'].iloc[m]
      count = count + 1
     ave = d/count

  av_gross_income.append([k,ave])
  
y = pd.DataFrame(av_gross_income, columns = ['Genre','Average Gross Income'])
y

**QUESTION 8: WHICH GENRE IS BEST TO MAKE MOVIES TO GET MAXIMUM GROSS INCOME**

In [ ]:
av_gross_income.sort(key=second_sort , reverse=True)
av_gross_income[0]

**QUESTION 9: WHICH GENRE IS WORST TO MAKE MOVIES TO GET MAXIMUM GROSS INCOME**

In [ ]:
av_gross_income[-1]

**QUESTION 10: FIND THE 2 PAIR OF GENRES WHICH HAS MAXIMUM NUMBER OF MOVIES**